@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    position: relative;
    background: black url(../images/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}

#celular {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background-image: url(../images/frame-iphone.png);
    background-repeat: no-repeat;
}

#social-media {
    text-align: right;
}

.logo {
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.562));
}

.logo:hover {
    transition-duration: 600ms;
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.767));
    border: 2px solid white;
    transform: translate(-8%, -8%);
}

iframe {
    position: absolute;
    height: 76%;
    top: 12.5%;
    width: 86%;
    left: 7%;
    
}